/* Reset default browser margins & paddings */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.toast-container {
    position: fixed;
    top: 1.25rem;
    right: 1.20rem;
    margin-right: 2rem;
    z-index: 3000;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    pointer-events: none;
}

.toast {
    pointer-events: all;
}
